.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 93, 157, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;

  &:hover { background-color: rgba(0, 93, 157, 0.4); }
}

.izquierda { left: 10px; }
.derecha { right: 10px; }

.flecha[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 0.85rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1100;
}

.izquierda[data-tooltip]:hover::after { left: 60px; }
.derecha[data-tooltip]:hover::after { right: 60px; }
